html {
    scroll-behavior: smooth;
}
body { 
    background-color: black;
    font-family: Cinzel, Verdana, Geneva, Tahoma, sans-serif;
}
#navbar {
    height: 50%;
    width: 10%;
    position: sticky;
    float: right;
    top: 40px;
    left: 100%;
}
#navbar ul {
    display: list-item;
    justify-content: space-evenly;
    vertical-align: center;
    list-style: none;
}
#navbar ul li {
    height: 60px;
}
#navbar ul li a {
    color: white;
    text-decoration: none; 
    opacity: 0.7;
    font-size: 1.3rem;
}
#navbar ul li a:hover {
    color: red;
    opacity: 0.7;
    text-decoration: none;
    font-weight: bolder;
    transition: all 0.45s;
}
#rest{
    width: 80%;
}
#intro-section {
    color: white;
    height: 700px;
}
h1 {
    font-size: 3rem;
}
#about-section {
    color: white;
    height: 700px;

}
#skills-section {
    color: white;
    height: 700px;

}
#projects-section {
    color:white;
    height: 700px;

}
#contacts-section {
    color: white;
    height: 700px;

}
.spaceship {
    height: 3px;
    width: 2px;
}
