
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/css2?family=Cinzel&family=Cookie&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" integrity="sha512-Fo3rlrZj/k7ujTnHg4CGR2D7kSs0v4LLanw2qksYuRlEzO+tcaEPQogQ0KaoGN26/zrn20ImR1DfuLWnOo7aBA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Document</title>
</head>
<body>
        <main>
            <nav id="navbar">
                <ul>
                    <li><a href="#intro-section">Home</a></li>
                    <li><a href="#about-section">About</a></li>
                    <li><a href="#skills-section">Skills</a></li>
                    <li><a href="#projects-section">Projects</a></li>
                    <li><a href="#contacts-section">Contact</a></li>
                    <li></li>
                    <li><a href="https://github.com/" target="_blank"> <i class="fab fa-github fa-3x"></i></a></li>
                    <li></li>
                    <li><a href="https://pl.linkedin.com/" target="_blank"> <i class="fab fa-linkedin-in fa-3x"></i> </a></li>
                    <li></li>
                    <li><a href="https://www.instagram.com/" target="_blank"> <i class="fab fa-instagram fa-3x"></i></a></li>
                </ul>
            </nav>
            <section id="rest">
                <section id="intro-section">
                    <h1>Home</h1>
                    <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt, porro. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Beatae possimus culpa aspernatur placeat asperiores laudantium delectus nostrum perferendis debitis reprehenderit!</div>
                    <div class="spaceship"><img src="https://images.unsplash.com/photo-1628126235206-5260b9ea6441?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1887&q=80" alt="" height="500px"></div>
                </section>
                <section id="about-section">
                    <h1>About</h1>
                    <div>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Explicabo, est! Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo, itaque dolore quos distinctio cumque modi id. Voluptatum commodi mollitia exercitationem?</div>
                    <div class="spaceship"><img src="https://images.unsplash.com/photo-1615363227873-b9c73fdf3e65?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=435&q=80" alt="" height="500px"></div>
                </section>
                <section id="skills-section">
                    <h1>Skills</h1>
                    <div>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Explicabo, est! Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tempora, molestiae perferendis ut quas quam atque!</div>
                    <div class="spaceship"><img src="https://images.unsplash.com/photo-1634242083752-323b6155c365?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80" alt="" height="500px"></div>
                </section>
                <section id="projects-section">
                    <h1>Projects</h1>
                    <div>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Explicabo, est! Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam architecto recusandae vitae consequuntur incidunt illum, quis corporis ut distinctio. Eos iste culpa ratione et possimus! Excepturi, cum!</div>
                    <div class="spaceship"><img src="https://images.unsplash.com/photo-1623579197174-e30e7627dead?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=388&q=80" alt="" height="500px"></div>
                </section>
                <section id="contacts-section">
                    <h1>Contact</h1>
                    <div>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Explicabo, est! Lorem ipsum dolor sit amet consectetur, adipisicing elit. Labore ab aliquam odit cum veniam doloribus eius officiis.</div>
                    <div class="spaceship"><img src="https://images.unsplash.com/photo-1628126235206-5260b9ea6441?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1887&q=80" alt="" height="500px"></div>
                </section>
            </section>
        </main>
    
</body>
</html>
