<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Cinzel&display=swap" rel="stylesheet">
    <title>Text to Speech</title>
</head>
<body>
    <main>
        <h1>Konwersja tekstu na mowę</h1>
        <form method="POST" action="/upload" enctype="multipart/form-data">
            <label>Wczytaj plik TXT:</label><br>
            <input type="file" name="file" accept=".txt" required><br><br>
            <label>Czas pauzy między zdaniami (w sekundach):</label><br>
            <input type="number" name="pause" value="1" min="1" required><br><br>
            <button type="submit">Prześlij i wygeneruj MP3</button>
        </form>
    </main>
</body>
</html>
